body,
html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
}

.emoji-marker {
  font-size: 64px;
  /* Adjust size as needed */
}

#sidebarToggleContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1050; /* Ensure the button stays above other content */
}

#rotatable-icon {
  width: 30px;
  height: 128px;
  background-image: url("arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}

.pollution_triangle {
  transition: all 1000ms ease-in-out;
}

.rotatable-icon-container {
  position: absolute;
  bottom: 10px;
  left: 30px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  z-index: 1000; /* Ensure it's on top of the map */
  display: flex;
  justify-content: center;
  align-items: center;
}

nutrition-label {
  width: 10em;
  gap: 0;
}
