body,
html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
}

.emoji-marker {
  font-size: 64px;
  /* Adjust size as needed */
}

#sidebarToggleContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1050;
  /* Ensure the button stays above other content */
}

#rotatable-icon {
  width: 30px;
  height: 128px;
  background-image: url("arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 200ms ease-in-out;
}

.pollution_triangle {
  transition: all 1000ms ease-in-out;
}

.rotatable-icon-container {
  position: absolute;
  bottom: 10px;
  left: 30px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  z-index: 1000;
  /* Ensure it's on top of the map */
  display: flex;
  justify-content: center;
  align-items: center;
}

nutrition-label {
  gap: 0;
}

#stats-popover {
  font-size: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 10rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 20rem;
  position: absolute;
  right: -600px;
  bottom: 2em;
  z-index: 10000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background: rgba(255, 240, 240, 1);
  border-radius: 1rem;
  border: 0.3rem solid rgba(100, 100, 100, 1);
  filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
}

#stats-popover,
#stats-popover > * {
  transition-property: all;
  transition-duration: 300ms;
  /*transition-delay: 500ms;*/
  transition-timing-function: cubic-bezier(0.24, 0.79, 0.59, 0.94);
}

#stats-title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 2rem;
  padding: 1em;
  border-bottom: 1px dashed rgba(100, 100, 100, 1);
  font-variant: small-caps;
}

#stats-label:after {
  content: "x";
  font-size: 1.5em;
  right: 0.2em;
  top: -0.3em;
  position: absolute;
  color: rgba(150, 150, 150, 1);
}

#stats-label {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgba(100, 100, 100, 1);
  padding: 1.5em;
}

#stats-notes {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.2rem;
  padding: 1em;
  z-index: 2;
}

#stats-notes:after {
  font-size: 3em;
  opacity: 0.3;
  right: 0.1em;
  bottom: 0em;
  position: absolute;
  content: attr(data-content);
  z-index: 1;
}

/* * > #wind_strength.scenario1, */
/* #game-hint.scenario1 { */
/*   color: #ff0000; */
/* } */

/* #game-hint.scenario2, */
/* wc-rotation-input>#wind_dial.scenario2) { */
/*   color: #00b050; */
/* } */

/* #game-text.scenario3, */
/* #game-hint.scenario3 { */
/*   color: #0070c0; */
/* } */

.scenario1 {
  color: #ff0000;
}

.scenario2 {
  color: #00b050;
}

.scenario3 {
  color: #0070c0;
}

h1 {
  font-weight: 800;
}
