:root {
  --color-scenario1: #ff0000;
  --color-scenario2: #00b050;
  --color-scenario3: #0070c0;
  --color-scenario4: #cc00ff;
  --color-explore: #cc00ff;
}

body,
html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
}

.emoji-marker {
  font-size: 64px;
  /* Adjust size as needed */
}

#sidebarToggleContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1050;
  /* Ensure the button stays above other content */
}

#rotatable-icon {
  width: 30px;
  height: 128px;
  background-image: url('arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /* transition: all 200ms ease-in-out; */
}

.pollution-triangle {
  transition: all 1000ms ease-in-out;
}

.rotatable-icon-container {
  position: absolute;
  bottom: 10px;
  left: 30px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  z-index: 1000;
  /* Ensure it's on top of the map */
  display: flex;
  justify-content: center;
  align-items: center;
}

nutrition-label {
  gap: 0;
}

#stats-popover {
  font-size: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 10rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 20rem;
  position: absolute;
  right: 2em;
  opacity: 1;
  bottom: 2em;
  z-index: 10000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background: rgba(255, 240, 240, 1);
  border-radius: 1rem;
  border: 0.3rem solid rgba(100, 100, 100, 1);
  filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
}

#stats-popover,
#stats-popover > * {
  transition-property: all;
  transition-duration: 300ms;
  /*transition-delay: 500ms;*/
  transition-timing-function: fade-in;
}

#stats-title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 2rem;
  padding: 1em;
  border-bottom: 1px dashed rgba(100, 100, 100, 1);
  font-variant: small-caps;
}

#stats-label:after {
  content: 'x';
  font-size: 1.5em;
  right: 0.2em;
  top: -0.3em;
  position: absolute;
  color: rgba(150, 150, 150, 1);
}

.bold {
  font-weight: 800;
}

#stats-label {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed rgba(100, 100, 100, 1);
  padding: 1.5em;
}

#stats-notes {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 1.2rem;
  padding: 1em;
  z-index: 2;
}

#stats-notes:after {
  font-size: 3em;
  opacity: 0.3;
  right: 0.1em;
  bottom: 0em;
  position: absolute;
  content: attr(data-content);
  z-index: 1;
}

#game-hint {
  font-family: 'Comic Neue', cursive;
  color: white;
  font-weight: 800;
}

/* Stuff to style PER-SCENARIO */
/* Start off with everything hidden */
#wind-dial-parent,
#wind-strength-parent,
#emission-sources,
#stats-popover {
  display: none;
}

/* EXPLORE -- do what you like with the map
*/
#game-hint.no-scenario {
  color: var(--color-scenario4) !important;
}
#wind-strength-parent.no-scenario {
  display: block !important;
}
#wind-dial-parent.no-scenario {
  display: block !important;
}
#emission-sources.no-scenario {
  display: inline-flex !important;
}
#stats-popover.no-scenario {
  display: inline-grid !important;
}

/*
* SCENARIO 1 -- Wind strength
* Only show wind strength
* (wind direction will be randomly set by javascript)
*/
#wind-strength-parent.scenario1 {
  display: block !important;
  /* accent-color: var(--color-scenario1); */
  /* color: var(--color-scenario1) !important; */
}
#game-hint.scenario1 {
  color: var(--color-scenario1) !important;
}
#wind-dial-parent.scenario1,
#emission-sources.scenario1 {
  display: none !important;
}

/* SCENARIO 2 -- Wind direction
* Only show wind dial
* (wind strength will be set to moderate)
*/
#wind-dial-parent.scenario2 {
  display: block !important;
  /* color: var(--color-scenario2) !important; */
}
#game-hint.scenario2 {
  color: var(--color-scenario2) !important;
}
#wind-strength-parent.scenario2,
#emission-sources.scenario2 {
  display: none !important;
}

/* SCENARIO 3 -- Multiple sources
* Only show the emission sources
* (wind direction will be randomly set in javascript)
* (wind strength will be set to moderate)
*/
#game-hint.scenario3 {
  color: var(--color-scenario3) !important;
}
#emission-sources.scenario3 {
  display: inline-flex !important;
}
#wind-dial-parent.scenario3,
#wind-strength-parent.scenario3 {
  display: none !important;
}
#stats-popover.scenario3 {
  display: inline-grid !important;
}

/* SCENARIO 4 -- 'Minesweeper'
 * Only show the 'deploy more sensors' button
*/
#game-hint.scenario4 {
  color: var(--color-scenario4) !important;
}
#wind-strength-parent.scenario4 {
  display: block !important;
}
#wind-dial-parent.scenario4 {
  display: block !important;
}
/* #emission-sources.scenario4 { */
/*   display: inline-flex !important; */
/* } */

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

#game-text {
  font-family: 'Comic Neue', cursive;
  font-weight: 600;
}

#homepage-logo {
  max-width: 10rem;
  text-decoration: none;
  color: black;
}

#homepage-logo a {
  text-decoration: none;
  color: black;
}

#homepage-logo img {
  max-width: 3rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 12fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  grid-template-areas:
    'menu title notes'
    'logo gametext notes'
    'logo controls notes'
    'map map map';
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

.title {
  grid-area: title;
  /* background-color: #ff000040; */
}

.gametext {
  grid-area: gametext;
  /* background-color: #00ff0040; */
  flex-direction: column;
}

.controls {
  grid-area: controls;
  /* background-color: #0000ff40; */
  justify-content: space-evenly;
}

.menu {
  grid-area: menu;
  /* background-color: #ff00ff40; */
}

.logo {
  grid-area: logo;
  /* background-color: #ffff0040; */
}

.notes {
  grid-area: notes;
  /* background-color: purple; */
}

.map {
  grid-area: map;
  /* background-color: red; */
}
